html {
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
  padding:0;
}
section{
  margin-top:10px;
  padding:30px;
}
header{
  width: 100%;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.header-links a {
  color: #ffffff;
  text-decoration: none;
  padding: 1rem;
}
.header-links .links li{
  list-style-type: none;
  display: inline-block;
  justify-content: space-between;
}

.title{
  text-align: center;
  text-decoration: solid;
  font-family: Arial, Helvetica, sans-serif;
  font-style: inherit;
  font-size: large;
  font-weight: bold;
}
/* Presentation */

.presentation{
  background-color: #786EC2;
  border: solid white 1;
  display: flex;
  flex-direction: row;
}

/* About */
.about{
  background-color: #7B17E5;
  color: white;
  display: flex;
  flex-direction: row;
}

.about div{
  padding-right:10px;
}

/* Resume */

.resume{
  background-color: #3DE5E7;
  color: #010101;
}
.resume-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.resume-content div{
  margin: 0 5px;
}

.resume-links{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.resume-links a{ 
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  color: rgb(161, 154, 123);
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
  color: #ffffff;
}

@keyframes animateLink {
  0%   {background-color: red;}
  33%  {background-color: rgb(225, 0, 255);}
  67%  {background-color: blue;}
  100% {background-color: rgb(17, 56, 17);}
}

.activeLink {
  animation-name: animateLink;
  animation-duration: 4s;
}

/* Portfolio*/
.portfolio{
  background-color: #7753D1;
}

.portfolio_works{
  text-align: center;
}
.portfolio-work{
  width:40%;
  height: 400px;
  display: inline-block;
  margin: 0 5% ;
}

.work_img{
  width: 100%;
  height: 300px;
}

/*Contact Me*/
.contactMe{
  background-color: #203040;
  color: white;
  padding-left: 30%;
}
.contacts{
  list-style-type:none;
}
.contact{
  text-decoration: solid;
  text-decoration-line: none;
  color: #ffffff;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: inherit;
}
a:hover{
  color: #f1951c;
}
/* Footer */ 
.footer{
  width: 100%;
  background-color: #203040;
  color: #ffffff;
}